/* ----------------- GENERAL ----------------- */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Rammetto+One&display=swap');

:root {
    --main-color: #111;
    --secondary-color: rgba(84, 121, 152, 0.1);
    --font-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'ABeeZee', sans-serif;
}

body {
    background-color: var(--main-color);
    color: var(--font-color);
    text-align: center;
}

main {
    padding: 0 50px 50px;
}

h1 {
    font-family: 'Rammetto One', cursive;
    font-size: 3.5rem;
}

h2 {
    font-family: 'Rammetto One', cursive;
    font-size: 2.5rem;
    margin-bottom: 25px;
}

h3 {
    font-family: 'Rammetto One', cursive;
    font-size: 2rem;
    margin-bottom: 25px;
}

p {
    font-size: 1.2rem;
}

br {
    margin-bottom: 10px;
}

.acrylic-background {
    background-color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 20px;
    backdrop-filter: blur(30px);

    transition: box-shadow 0.2s ease-out,
    backdrop-filter 0.2s ease-out,
    scale 0.2s ease-out;
}

.acrylic-background-hover:hover {
    backdrop-filter: blur(100px);
    box-shadow: var(--main-color) 0 0 20px;
    scale: 1.01;

    transition: box-shadow 0.2s ease-out,
    backdrop-filter 0.2s ease-out,
    scale 0.2s ease-out;
}

.button {
    display: inline-block;
    padding: 10px 20px;

    text-decoration: none;
    color: var(--font-color);

    box-shadow: var(--main-color) 0 0 10px;

    border-radius: 20px;
    transition: all 0.2s ease-out;
}
.button:hover {
    box-shadow: var(--main-color) 0 0 15px;
    transform: translateY(-2px);

    transition: all 0.2s ease-out;
}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30%;
    min-height: 700px;
    max-width: 500px;
    margin: 20px;

    border-radius: 10px;

    a {
        color: var(--font-color);
        text-decoration: none;

        padding: 20px;

        width: 100%;
        height: 100%;
    }

    h3 {
        height: 50px;
    }

    img {
        width: 100%;
        height: 230px;

        margin-bottom: 20px;
        border-radius: 10px;

        overflow: hidden;
        object-fit: cover;
        object-position: center;
    }

    p {
        justify-content: center;
    }
}

/* ----------------- BACKGROUND ----------------- */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;

    video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        display: block;
    }
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

/* ----------------- HEADER ----------------- */
header {
    position: fixed;

    height: 75px;
    width: 96%;
    top: -100px;
    left: 2%;
    z-index: 2;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 20px;

    transform: translateY(-100px);

    h1 {
        font-size: 2rem;
    }

    img {
        width: 50px;
        height: 50px;
        margin-right: 20px;
        border-radius: 100%;
    }
}

header.acrylic-background {
    transition: transform 0.5s ease-in-out,
    box-shadow 0.2s ease-out,
    backdrop-filter 0.2s ease-out,
    scale 0.2s ease-out;
    will-change: transform;
}

#accueil {
    height: calc(100vh - 50px);
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    img {
        width: 250px;
        height: 250px;
        margin-bottom: 20px;

        border-radius: 100%;
    }
}

/* ----------------- MAIN ----------------- */
main {
    margin-bottom: 50px;
}

section {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
        padding: 20px;
        border-radius: 10px;
        width: 100%;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }
}

#textWorld-button {
    margin-top: 20px;
    background-color: rgb(70, 70, 70);
}


/* ----------------- FOOTER ----------------- */
footer {
    border-radius: 20px 20px 0 0;
    width: 96%;
    height: 300px;

    position: fixed;

    top: 100vh;
    left: 2%;
    z-index: 2;

    display: flex;
    flex-direction: column;

    transform: translateY(50px);

    a {
        color: var(--font-color);
        cursor: text;
        text-decoration: none;
    }

    p {
        margin: 10px;
    }

    div {
        margin-top: 15px;
    }

    h4 {
        font-family: 'Rammetto One', cursive;
        font-size: 1.5rem;

        margin-bottom: 10px;
    }

    ul {
        list-style: none;
    }

    li {
        margin: 5px;

        a:hover {
            text-decoration: underline;

            cursor: pointer;
        }
    }

    div div {
        margin-top: 0
    }
}

footer.acrylic-background {
    transition: transform 0.5s ease-in-out,
    box-shadow 0.2s ease-out,
    backdrop-filter 0.2s ease-out,
    scale 0.2s ease-out;
    will-change: transform;
}

/* ----------------- RESPONSIVE ----------------- */
@media screen and (max-width: 840px) {
    main {
        padding: 20px;
    }

    br {
        margin-bottom: 30px;
    }

    /* ----------------- MAIN ----------------- */
    .tile {
        width: 90%;
    }
}

@media screen and (max-width: 412px) {
    main {
        padding: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.9rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .tile, .tile img {
        max-width: 100%;
        box-sizing: border-box;
    }
}