/* ----------------- GENERAL ----------------- */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Rammetto+One&display=swap');

:root {
    --main-color: #111;
    --secondary-color: rgba(84, 121, 152, 0.1);
    --font-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'ABeeZee', sans-serif;
}

body {
    background-color: var(--main-color);
    color: var(--font-color);
    text-align: center;
}

main {
    padding: 50px;
}

h1 {
    font-family: 'Rammetto One', cursive;
    font-size: 3.5rem;
}

h2 {
    font-family: 'Rammetto One', cursive;
    font-size: 2.5rem;
    margin-bottom: 25px;
}

h3 {
    font-family: 'Rammetto One', cursive;
    font-size: 2rem;
    margin-bottom: 25px;
}

p {
    font-size: 1.2rem;
}

br {
    margin-bottom: 10px;
}

.acrylic-background {
    background-color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.41) 0 0 20px;
    backdrop-filter: blur(30px);
}


/* ----------------- BACKGROUND ----------------- */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.video-container video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

/* ----------------- HEADER ----------------- */
header {
    position: fixed;

    height: 75px;
    width: 90%;
    top: -100px;
    left: 5%;
    z-index: 2;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 20px;

    transition: transform 0.5s ease-in-out;
}

header h1 {
    font-size: 2rem;
}

header img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 100%;
}

#accueil {
    height: calc(100vh - 50px);
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

#accueil img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;

    border-radius: 100%;
}

/* ----------------- MAIN ----------------- */
section {
    margin-bottom: 200px;
    border-radius: 10px;
}

#about {
    padding: 20px;
}

#projects ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;


    width: 30%;
    min-width: 350px;
    margin: 10px;
    padding: 20px;

    border-radius: 10px;

    transition: all 0.5s ease-out;
}

.tile:hover {
    backdrop-filter: blur(100px);
    box-shadow: var(--main-color) 0 0 20px;

    transition: all 0.5s ease-out;
}

.tile p {
    justify-content: center;
}

.tile img {
    width: 100%;
    height: 50%;

    margin-bottom: 20px ;
    border-radius: 10px;

    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.tile a {
    color: var(--font-color);
    text-decoration: none;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* ----------------- FOOTER ----------------- */
footer {
    border-radius: 20px 20px 0 0;
    width: 99%;
    height: 200px;

    position: fixed;

    top: 100vh;
    left: 0.5%;
    z-index: 2;

    display: flex;
    flex-direction: column;

    transition: transform 0.5s ease-in-out;
}

footer a {
    color: var(--font-color);
    cursor: text;
    text-decoration: none;
}

footer p {
    margin: 10px;
}

footer div {
    margin-top: 20px;
}

footer h4 {
    font-family: 'Rammetto One', cursive;
    font-size: 1.5rem;

    margin-bottom: 10px;
}

footer ul {
    list-style: none;
}

footer li {
    margin: 5px;
}

footer li a {
    color: pink;
}

footer li a:hover {
    text-decoration: underline;

    cursor: pointer;
}

/* ----------------- RESPONSIVE ----------------- */
@media screen and (max-width: 840px) {
    br {
        margin-bottom: 15px;
    }

    /* ----------------- MAIN ----------------- */
    .tile {
        width: 80%;
    }
}

@media screen and (max-width: 412px) {
    main {
        padding: 20px;
    }

    h1 {
        font-size: 3rem;
    }
}